{% extends "base.html" %}
{% block content %}

<div class="container">


	<div class="row" id="menu">
		<div class="col-md-12 col-md-offset-1">
			<h1 class="text-center"> 
				<p><strong>{{campaign.restaurant.name}} </strong></p>
				<p><strong> delivery at: {{myOrder.campaign.deliveryTime | date}} </strong></p>
				<p><strong> status: {{campaign.currentStatus}}</strong></p>

			</h1><br>

			{%for myOrder in orderListByUser%}

		 	<div class="col-md-8">
		 		<div class="well well-lg">
		 			<p> <strong>{{myOrder.user.name}} | Phone: {{myOrder.user.phone}}  | {{myOrder.user.buildingNo}} {{myOrder.user.roomNo}} </strong></p>
		 			

		 			<table class="table-no-border table-condensed table-responsive">
		 			<thead>
	  					<tr>
	  						<th>#</th>
	  						<th>Name</th>
	  						<th>Price</th>
	  					</tr>
  					</thead>
  					<tbody >
  						{%for order in myOrder.foodName%}
	  					<tr>
	  						<td class="col-md-2">{{myOrder.quantity[loop.index0]}}</td>
	  						<td class="col-md-8">{{myOrder.foodName[loop.index0]}}</td>
	  						<td class="col-md-2">{{myOrder.price[loop.index0]}}</td>
	  					</tr>
						{% endfor %}
						<tr>
	  						<td class="col-md-2"><strong>Total</strong></td>
	  						<td class="col-md-8"></td>
	  						<td class="col-md-2"><strong>{{myOrder.totalPrice}}</strong></td>
	  					</tr>
  					</tbody>
					</table>
		 		</div>
		 			
		 	</div>

			{% endfor %}
		 </div>
			
	</div>

	

</div>

{% endblock %}
