{% extends "base.html" %}
{% set active_page = 'manageRestaurant' %} 
{% block content %}

    <div class="container">

        <div class="col-md-6 col-md-offset-3">
         <!-- This is not working for some reason -->
          <!-- <div class="row">
            <h2>Delete A Resataurant</h2>
            <form>
              <div class="form-group">
                <label for="restaurant">Restaurant Name</label>
                <select data-bind="options: restaurantList, value: selectedRestaurant" class="form-control" required>></select>
                <a data-bind="click: delete" type="submit" class="btn btn-danger">Delete</a>
              </div>
            </form>
         </div> 
          
          <hr>-->
          <h2>Add A Resataurant</h2>
          <form>
            <div class="form-group">
              <label for="name">Restaurant Name</label>
              <input data-bind="value: name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="image">Image (link to a picture)</label>
              <input data-bind="value: imageUrl" type="text" class="form-control" id="imageurl" placeholder="Url to an image for the restaurant">
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input data-bind="value: phone" type="text" class="form-control" id="phone" placeholder="Phone">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input data-bind="value: address" type="text" class="form-control" id="address" placeholder="Address">
            </div>
            <div class="form-group">
              <label for="minamount">Minimum Amount</label>
              <input data-bind="value: minimumAmount" type="number" class="form-control" id="minamount" placeholder="Minimum Amount">
            </div>
            <div class="form-group">
              <label for="waittime">Wait Time (in minutes)</label>
              <input data-bind="value: waitTime" type="number" class="form-control" id="waittime" placeholder="Wait Time">
            </div>
            <div class="form-group">
              <label for="starttime">Start Time</label>
              <input data-bind="value: startTime" type="text" class="form-control time ui-timepicker-input" id="starttime" placeholder="Start Time">
            </div>
            <div class="form-group">
              <label for="endtime">End Time</label>
              <input data-bind="value: endTime" type="text" class="form-control time ui-timepicker-input" id="endtime" placeholder="End Time">
            </div>
            
            <button data-bind="click: save" type="submit" class="btn btn-primary">Submit</button>
          </form>
          
        </div>
      
    </div>

  

{% endblock %}

{% block footer%}

    {{super()}}
    <script src="/js/adminRestaurantScript.js"></script>


{% endblock %}

