{% extends "base.html" %}
{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="text-center"> <strong>is this right?</strong></h1> <br>

		 	<div class="col-md-6">
		 		<div class="well well-lg">
		 			<p> <strong>Your order </strong></p>
		 			<ul class="list-unstyled">
		 			<li>2 Chicken and Rice</li>
		 			</ul>
		 			
		 			<hr>
		 			<strong>Total: </strong>
		 			</p>

		 		</div>
		 	</div>

		 	<div class="col-md-6">
		 		<h1> delivery: </h1>
		 	    <p> <strong> Day: 4/19 </strong></p>
				<p> <strong> Time: 6:19 - 6:30pm </strong></p>
				<p><strong> Room: <span class="label label-default">A5B-406</span></strong></p>
		 	</div>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
		 	<div class="col-md-6">
		 		<a class="btn btn-default btn-lg" href="">Back</a>
		 	</div>

		 	<div class="col-md-6">

		 		<a class="btn btn-primary btn-lg" href="">Place Order</a>
		 		
		 	</div>
			
		</div>
	</div>

</div>


{% endblock %}