{% extends "base.html" %}
{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center"> <strong>Thank you for your order {{user.name.split(' ')[0]}}</strong></h1> <br>

		 	
		 		<h3> Your delivery Information: </h3>
		 	    <p> <strong> Day: {{campaign.deliveryTime |date}} </strong></p>
				<p> <strong> Time: {{campaign.deliveryTime |date}} </strong></p>
				<p><strong> Building: <span class="label label-default">{{user.buildingNo}}</span></strong></p>
				<p><strong> Room: <span class="label label-default">{{user.roomNo}}</span></strong></p>
				<div class="alert alert-warning">
					<p>If your room number and building number are not up to date, please <a href="/userInfo">Click here</a> to update them.</p>
				</div>
		 
			
		</div>
	</div>



</div>


{% endblock %}