{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}

    <div class="container">
    	<div class="col-md-12">

        	<!-- content -->
        	{% if campaigns.length > 0%}

	        	{% for item in campaigns %}

	        	<div class="jumbotron" id="jumbo">
	        		<div class="row">
	        				<div class = "col-md-4">
			    				<h1><img src="{{item.restaurant.imageUrl}}" class="img-responsive img-rounded"></h1>
							</div>

							<div class = "col-md-4">
			    				<div id = "{{item._id}}">
									<h1> <strong> {{ item.restaurant.name | upper}} </strong></h1>
									<h4> End: <strong> {{ item.endTime | date}}  </strong></h4>
									<h4>Delivery: <strong> {{ item.deliveryTime | date}} </strong></h4>
								</div>	
							</div>

							<div class="col-md-4">

								<br>
								{% if (item.restaurant.minimumAmount - item.balance) <= 0  %}
								<h2 class="text-center"> Delivery guaranteed! </h2>
								{% else %}
								<h2 class="text-center"> {{item.restaurant.minimumAmount - item.balance }} dhs to go</h2>
								{% endif %}
								<div id = "countdown-{{item.endTime}}" class="text-center"></div>
								<a id = "time-{{item.endTime}}" class="btn btn-primary btn-lg btn-block" href="/menuByCampaign/{{item._id}}">Chipin</a>
								
							</div>
	        		</div>
	        	</div>
	        	{% endfor %}

        	{% else %}

        		<div class="jumbotron" id="jumbo">
	        		<div class="row">
							<div class = "col-md-12">
			    				
									<h3> <span class="glyphicon glyphicon-info-sign"></span> Sorry, we currently have no campaigns running. Please check back later. Thank you!</h3>
									
							</div>

	        		</div>
	        	</div>

        	{% endif %}

    	</div>
	</div>

{% endblock %}

