{% extends "base.html" %}
{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="text-center"> <strong>Menu</strong></h1> <br>

		 	<div class="col-md-7">
		 		<div class="well well-lg">
		 			<table class="table table-condensed">
  					<tr>
  						<th>Price</th>
  						<th>Name</th>
  						<th>Quantity</th>
  					</tr>
  					<tr>
  						<td>12</td>
  						<td>Pizza</td>
  						<td>13</td>

  					</tr>
					</table>

		 		</div>
		 	</div>

		 	<div class="col-md-5">
		 		
		 	</div>
			
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<a class="btn btn-primary btn-lg" href="">Place Order</a>
		
		</div>
	</div>

</div>


{% endblock %}