{% extends "base.html" %}
{% set active_page = 'order' %}
{% block content %}

<div class="container">

	


	<div class="row" id="menu">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center"> <strong>Menu</strong></h1><br>

			{%for myOrder in myOrdersAllCamp%}

		 	<div class="col-md-8">
		 		<div class="well well-lg">
		 			<p> <strong>Your order @ {{myOrder.campaign.restaurant.name}} | {{myOrder.campaign.deliveryTime | date}} | status: {{myOrder.campaign.currentStatus}}</strong></p>
		 
		 			<table class="table-no-border table-condensed table-responsive">
		 			<thead>
	  					<tr>
	  						<th>#</th>
	  						<th>Name</th>
	  						<th>Price</th>
	  					</tr>
  					</thead>
  					<tbody >
  						{%for order in myOrder.foodName%}
	  					<tr>
	  						<td class="col-md-2">{{myOrder.quantity[loop.index0]}}</td>
	  						<td class="col-md-8">{{myOrder.foodName[loop.index0]}}</td>
	  						<td class="col-md-2">{{myOrder.price[loop.index0]}}</td>
	  					</tr>
						{% endfor %}
						<tr>
	  						<td class="col-md-2"><strong>Total</strong></td>
	  						<td class="col-md-8"></td>
	  						<td class="col-md-2"><strong>{{myOrder.totalPrice}}</strong></td>
	  					</tr>
  					</tbody>
					</table>
		 		</div>
		 			
		 	</div>

			{% endfor %}
		 </div>
			
	</div>

	

</div>

{% endblock %}
