{% extends "base.html" %}
{% block content %}

    <div class="container">

		
		<div class="row">
			<div class="col-md-4">
					<div class="jumbotron" id="jumbo">
							<h1> 5 <span class="pull-righ"><strong> h </strong></span></h1>
							<h1>22 <span class="pull-righ"><strong> m </strong></span></h1>
							<h1>time left!</h1>
	
					</div>
			</div>

			<br>

			<div class="col-md-5 col-md-offset-2 text-center">
				
				<div class="col-md-12">
					<h1> Thanks for Chipping in!</h1><br>
					<a class="btn btn-primary btn-lg btn-block" href="">View/Change Order</a><br>
					<h2> 160 dhs to go! </h2>
				</div>
				
			</div>

		</div>

		<div class="row">

			<div class="col-md-4">
				<p><img class="img-responsive img-rounded" src="/images/samuraisushi.jpg"></p>
			</div>
			
			<div class="col-md-5 col-md-offset-2 text-center">
				<h2> SAMURAI Sushi</h2> 
				<h2> end: 4/19 5:00pm<h2> 
				<h2> delivery: 4/19 7:00pm</h2>
						
			</div>
				
		</div>
		
		

	</div>


{% endblock %}
